<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="uniIP" value="192.168.0.190"/>
		<add key="uniPORT" value="20256"/>
		<add key="enablePLC" value="1"/>
		<add key="sqlUsername" value="root"/>
		<add key="sqlPassword" value="cyvvngf"/>
		<add key="sqlDatabase" value="unitronics"/>
		<add key="sqlServer" value="localhost"/>
	</appSettings>
</configuration>
